body{
    background-color: #ccc;
}

.container{
    width: 85%;
    margin: 5% auto;
    background-color: #ccc;
}

#hue-slider-bg{
    margin: 4em;
    width: 100%;
    padding: 0.5em;
    background: linear-gradient(to right, hsla(0,100%,50%,1.0), 
                hsla(25,100%,50%,1.0),
                hsla(60,100%,50%,1.0),
                hsla(120,100%,50%,1.0),
                hsla(180,100%,50%,1.0),
                hsla(240,100%,50%,1.0),
                hsla(300,100%,50%,1.0),
                hsla(360,100%,50%,1.0));
}

#hue-slider{
    width: 100%;
    margin: 0;
    padding: 0;
}

#sat-container{
    margin: 4em;
    width: 100%;
    padding: 0.5em;
}

#sat-slider-bg{
    width: 100%;
    height: 3em;
    padding: 0.5em 0;
    box-sizing: border-box;
}

#sat-slider{
    width: 98%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -2.5em;
    left: 1%;
}

#light-container{
    margin: 4em;
    width: 100%;
    padding: 0.5em;
}

#light-slider-bg{
    width: 100%;
    height: 3em;
    padding: 0.5em 0;
    box-sizing: border-box;
}

#light-slider{
    width: 98%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -2.5em;
    left: 1%;
}